server:
  port: 13000

spring:
  application:
    name: api-gateway


  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:14000"
            allowedMethods:
              - GET
              - POST
            allowedHeaders: "*"


logging:
  level:
    root: INFO
