apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      # Spring Cloud Kubernetes 등에서 Service Discovery를 사용하기 위한 ServiceAccount
      serviceAccountName: api-gateway-sa
      # Private Container Registry에서 이미지를 가져오기 위한 Secret
      imagePullSecrets:
        - name: ncr-secret
      containers:
        - name: api-gateway-app
          image: cuecode.kr.ncr.ntruss.com/cuecode/api-gateway:latest
          imagePullPolicy: Always # 항상 최신 이미지를 가져오도록 설정
          ports:
            - name: http
              containerPort: 13000
            - name: management
              containerPort: 13001
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod,json
            - name: CORS_ALLOWED_ORIGINS
              value: "http://localhost:14000" # 로컬 테스트용 CORS 허용 주소
            - name: JWT_TOKEN_CREATOR
              value: cuecoder
            - name: JWT_TOKEN_ACCESS_VALID_TIME
              value: "600"
            - name: JWT_TOKEN_ACCESS_NAME
              value: jwtAccessToken
            - name: JWT_TOKEN_REFRESH_VALID_TIME
              value: "7200"
            - name: JWT_TOKEN_REFRESH_NAME
              value: jwtRefreshToken
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET_KEY
            - name: JAVA_TOOL_OPTIONS
              value: "-Xms256m -Xmx512m -XX:+UseG1GC"
          resources:
            requests:
              cpu: "200m"
              # [수정] 올바른 들여쓰기 적용
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 13001 # 포트 번호 대신 포트 이름을 사용하는 것이 더 명확함
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
           httpGet:
             path: /actuator/health/liveness
             port: 13001 # [수정] 관리 포트로 변경
           initialDelaySeconds: 40
           periodSeconds: 15