services:
#  sentence-service:
#    build: .
#    environment:
#      - OPENAI_API_KEY=${OPENAI_API_KEY}
#      - GEMINI_API_KEY=${GEMINI_API_KEY}
#      - GPT_MODEL=gpt-4.1-2025-04-14
#      - GPT_INTENT_MODEL=gpt-4.1-mini-2025-04-14
#      - GEMINI_MODEL=gemini-2.5-flash
#
#      - REDIS_HOST=host.docker.internal
#      - REDIS_PORT=6380
#      - REDIS_DB=0
#      - REDIS_PASSWORD=poly1234
#    extra_hosts:
#      - "host.docker.internal:host-gateway"


  mediapipe:
    image: ghcr.io/tyson0922/mediapipe-fastapi:dev-py310
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - GPT_MODEL=gpt-4.1-2025-04-14
      - GPT_INTENT_MODEL=gpt-4.1-mini-2025-04-14
      - GEMINI_MODEL=gemini-2.5-flash

      - REDIS_HOST=host.docker.internal
      - REDIS_PORT=6380
      - REDIS_DB=0
      - REDIS_PASSWORD=poly1234
    extra_hosts:
      - "host.docker.internal:host-gateway"

    # IMPORTANT: no build:, no volumes:, no --reload
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --log-level info
    pull_policy: always   # ensures compose pulls the latest tag when starting