apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      # --- 삭제 ---
      # imagePullSecrets:
      #   - name: ncr-secret
      # --- 삭제 ---
      containers:
        - name: config-server-app
          image: cuecoderegistry.azurecr.io/spring-config-server:__TAG__
          # --- 수정 ---
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: git,json # 또는 "git"
            - name: JAVA_TOOL_OPTIONS
              value: "-Xms256m -Xmx512m"
            # (선택) Spring Cloud Config가 GitHub 리포지토리를 바라보게 설정
            - name: SPRING_CLOUD_CONFIG_SERVER_GIT_URI
              value: "https://github.com/CueCode-200OK/CueCode-Config.git"
          ports:
            - containerPort: 8888
          resources:
            requests:
              cpu: "50m"
              memory: "384Mi"
            limits:
              cpu: "100m"
              memory: "768Mi"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8888
            initialDelaySeconds: 150
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8888
            initialDelaySeconds: 160
            periodSeconds: 5
            failureThreshold: 10
