server:
  port : 8888
spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://devtools.ncloud.com/3067145/CueCode-Config.git
          default-label: master
          search-paths: msa
          username: ${GIT_USERNAME}
          password: ${GIT_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true