server:
  port : 8888
spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://devtools.ncloud.com/3067145/CueCode-Config.git
          default-label: master
          search-paths: msa
          username: contest73
          password: qlrepdlxjrhk!@12

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true