apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service-app
        image: cuecode.kr.ncr.ntruss.com/cuecode:user-service-latest
        env:
                  - name: SPRING_PROFILES_ACTIVE
                    value: prod
                  - name: JWT_SECRET # user-prod.yml의 ${JWT_SECRET}에 주입될 값
                    valueFrom:
                      secretKeyRef:
                        name: jwt-secret      # 시크릿 이름
                        key: JWT_SECRET_KEY   # 시크릿 안의 키 이름        ports:
        ports:
        - containerPort: 11000
        envFrom:
        - secretRef:
            # UserService의 데이터베이스 접속 정보를 담은 Secret
            name: user-db-secret
        resources:
          requests:
            cpu: "250m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "1Gi"
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 11000
          initialDelaySeconds: 20
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 11000
          initialDelaySeconds: 40
          periodSeconds: 15
